<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="../assets/images/logo.png">
          </div>
          <ul class="nav navbar-nav">
            <li class=""><a href="AdminClasses">My Classes</a></li>
            <li class=""><a href="AdminRequests">Requests</a></li>
            <li class=""><a href="AdminUsers">Users</a></li>
            <li class="active"><a href="AdminProfile">My profile</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> Your Profile</a></li>
                    <li><a href="#"> Setting</a></li>
                </ul>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
</div>

<div class="login1" id="loginPage">
    <div class="login-page">
      <div class="form">
        <div class="card-header">
          <h3>Reset Password</h3>
          <hr>
        </div>
        
        <form class="login-form">
          <input type="text" placeholder="email"/>
          <input type="password" placeholder="Old password"/>
          <input type="password" placeholder="New password"/>
          <input type="password" placeholder="Confirm password"/>
          <div class="col-md-6"><button class="btn1" ><a href="">Save</a></button></div>
          <div class="col-md-6"><button class="btn2" ><a href="AdminProfile">Cancel</a></button></div>
        </form>
      </div>
    </div>
  </div>
