img {
    width: 3.5em;
    height: 3.5em;
    margin: auto;
    margin-left: 50px;
    margin-right: 10px;
}

#loginPage{
	background-color:#fea881;
  background-size: 100% 625px;
	height: 630px;
	width: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -2%;
}
.login-page {
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #d9d9d9;
  max-width: 360px;
  margin-top: 50px !important;
  margin: 0 auto 80px;
  padding: 45px;
  opacity: 0.82;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  height: 40px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .btn1:hover,.form button:active,.form button:focus {
  background: green;
}
.form .btn2:hover,.form button:active,.form button:focus {
    background: #fd864e;
  }
.btn1{
    background-color:#00b300;
}
.btn2{
    background-color:#FD6721;
}

.btn1 a{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-decoration: none;
}


.btn2 a{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
  }
 .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
  color: #fc864f;
  text-decoration: none;
}
