<!--Menu bar code goes here-->
<div class="container-fluid" id="section2">

	<div class="container">
	  <div class="row">
  
		<div class="col-md-1">
		  <img src="../assets/images/logo.png">
		</div>
  
		<div class="col-md-4">
		  <div class="row row1" >
			<B>INDUSTRIAL MASTER</B>
		  </div>
		  <div class="row row2">
			EXPERT SUPPORT SYSTEM
		  </div>
		</div>
  
		<div class="col-md-7">
		  <div class="col-md-5 left-border row3">
			<div class="col-md-1"><a href="#"><i class="far fa-envelope icn"></i></a></div>
			<div class="col-md-4"><p class="contact">info@industrialmaster.com</p></div>
			
		  </div>
  
		  <div class="col-md-3 left-border row3">
			<div class="col-md-1"><a href="#"><i class="fa fa-phone icn"></i></a></div>
			<div class="col-md-9"><p class="contact">0717676983 </p></div>
		  </div>
  
		  <div class="col-md-2">
			<button class="btn btn-default row3 bt1" ><a href="Login">Log In</a></button>
		  </div>
		  
		  <div class="col-md-2">
			<button class="btn btn-danger row3 bt" ><a href="Registration">Register</a></button>
		  </div>
		</div>
		
	  </div>
	</div>
  </div>
  <!--End of Menu bar-->

<!--Sign up page goes here -->
<div class="bgbody">
   
  <form>
      <h2>Sign Up</h2>
  		  <p>
	  	  	<label for="Email" class="floatLabel">Email</label>
		    	<input id="Email" name="Email" type="text">
		    </p>
		    <p>
    			<label for="password" class="floatLabel">Password</label>
		    	<input id="password" name="password" type="password">
			  </p>
	    	<p>
	    		<label for="confirm_password" class="floatLabel">Confirm Password</label>
	    		<input id="confirm_password" name="confirm_password" type="password">
        	</p>
        	<p>
	    		<label for="posit" class="floatLabel">I want to be a/an</label>
	    		<select id="posit" name="posit">
					<option value="author">Author</option>
					<option value="supporter">Supporter</option>
					<option value="student">Student</option>
				</select>
	    	</p>
	    	<p>
	    		<input type="submit" value="Create My Account" id="submit">
	    	</p>
	  </form>
</div>
<!--End of Sidn up page-->