@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

/*Menu bar css code goes here */
#section2{
	background-color: black;
	color: black;
  height: 76px;
  width: 100%;
  line-height: 60px;
  position: relative;
}
.r1 {
  position: absolute;
}
.row1 {
	color: #666666;
	font-size: 2em;
  height:27px;
  margin-top: 3px;
}
.row2 {
	color: #CCCCCC;
	font-size: 1.3em;
	height: 5px;
}
.row3 {
   align-items: center;
}
.row3 a{
  text-decoration: none;
}
.icn{
	color: #fc864f;
	margin-top: 32px;
	size: 3em;
}
.bt1{
	margin-top: 17px;
	font-size: 1.2em;
}
.bt1 a{
  color: #FD6721;
}
.bt{
	background-color:#FD6721 !important;
  font-size: 1.2em;
  margin-top: 17px;
}
.bt a{
  color: hsl(0, 100%, 100%);
}
.contact {
    color: #B2B2B2;
    font-size: 1.3em;
    margin-top: 10px !important;
}
/*End of Menu bar*/


/*Login page css goes here*/
#loginPage{
	background-image: url("../../assets/images/login.jpg");
  background-size: 100% 625px;
	height: 630px;
	width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  opacity: 0.82;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fc864f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #FD6721;
}
.btn1 a{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fc864f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-decoration: none;
}
.btn1 a:hover{
  background: #FD6721;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
  color: #fc864f;
  text-decoration: none;
}

/*End of Login page css*/
  