<!--Menu bar code goes here-->
<div class="container-fluid" id="section2">

  <div class="container">
    <div class="row">

      <div class="col-md-1">
        <img src="../assets/images/logo.png">
      </div>

      <div class="col-md-4">
        <div class="row row1" >
          <b>INDUSTRIAL MASTER</b>
        </div>
        <div class="row row2">
          EXPERT SUPPORT SYSTEM
        </div>
      </div>

      <div class="col-md-7">
        <div class="col-md-5 left-border row3">
          <div class="col-md-1"><a href="#"><i class="far fa-envelope icn"></i></a></div>
          <div class="col-md-4"><p class="contact">info@industrialmaster.com</p></div>  
        </div>

        <div class="col-md-3 left-border row3">
          <div class="col-md-1"><a href="#"><i class="fa fa-phone icn"></i></a></div>
          <div class="col-md-9"><p class="contact">0717676983 </p></div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-default row3 bt1" ><a href="Login">Log In</a></button>
        </div>
        
        <div class="col-md-2">
          <button class="btn btn-danger row3 bt" ><a href="Registration">Register</a></button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!--End of Menu bar-->

<!--Login page code goes here-->
<div class="login1" id="loginPage">
  <div class="login-page">
    <div class="form">
      <div class="card-header">
        <h3>Sign In</h3>
        <hr>
      </div>
      
      <form class="login-form">
        <input type="text" placeholder="email"/>
        <input type="password" placeholder="password"/>
        <button class="btn1" ><a href="Admin">Log In</a></button>
        <p class="message">Not registered? <a href="Registration">Create an account</a></p>
        <p class="message"><a href="ResetPassword">Reset password?</a></p>
      </form>
    </div>
  </div>
</div>
<!--End of Login page code-->

