<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="../assets/images/logo.png">
          </div>
          <ul class="nav navbar-nav">
            <li class=""><a href="AdminClasses">My Classes</a></li>
            <li class=""><a href="AdminRequests">Requests</a></li>
            <li class=""><a href="AdminUsers">Users</a></li>
            <li class="active"><a href="AdminProfile">My profile</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> Your Profile</a></li>
                    <li><a href="#"> Setting</a></li>
                </ul>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
</div>

<div class="row profile-body">
    <div class="profile">
    <div class="col-md-3 profilepic">
        <img src="../../assets//images/profile.jpg"/>
        <h3>Chrishani Imalsha</h3>
        <p>Admin</p>
    </div>
    <div class="col-md-9 details">
        <div class="row">
            <button><a href="EditProfile">Edit Profile</a></button>
        </div>
        <h4>Personal Information</h4><hr>
        <div class="row">
            <div class="col-md-3"><label>Name</label></div>
            <div class="col-md-9"><p>Chrishani Imalsha</p></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>NIC</label></div>
            <div class="col-md-9"><p>958141440V</p></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>e-mail</label></div>
            <div class="col-md-9"><p>chrishaniimalsha@gmail.com</p></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>password</label></div>
            <div class="col-md-4"><p>12345</p></div>
            <div class="col-md-5"><a href="AdminResetPassword">Reset password</a></div>
        </div>

        <h4>Bank Account Information</h4><hr>
        <div class="row">
            <div class="col-md-3"><label>Account No</label></div>
            <div class="col-md-9"><p>809145236</p></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Bank</label></div>
            <div class="col-md-9"><p>BOC</p></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Branch</label></div>
            <div class="col-md-9"><p>Kirimetiyana</p></div>
        </div>
        
        <h4>Account Information</h4><hr>
        <div class="row">
            <div class="col-md-3"><label>Earning Points</label></div>
            <div class="col-md-4"><p>120 points</p></div>
            <div class="col-md-5"><a href="">Transfer points</a></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Classes</label></div>
            <div class="col-md-5">
                <p>IDEx - SE</p><br>
                <p>IDEx - EE</p><br>
                <p>IDEx - ME</p><br>
                <p>IDEx - PHP</p>
            </div>
            <div class="col-md-4">
                <p>1001</p><br>
                <p>1002</p><br>
                <p>1003</p><br>
                <p>1004</p>
            </div>
        </div>

    </div>
    </div>
</div>
