<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="../assets/images/logo.png">
          </div>
          <ul class="nav navbar-nav">
            <li class=""><a href="AdminClasses">My Classes</a></li>
            <li class=""><a href="AdminRequests">Requests</a></li>
            <li class=""><a href="AdminUsers">Users</a></li>
            <li class="active"><a href="AdminProfile">My profile</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> Your Profile</a></li>
                    <li><a href="#"> Setting</a></li>
                </ul>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
</div>

<div class="row profile-body">
    <div class="profile">
    <div class="col-md-3 profilepic">
        <img src="../../assets//images/profile.jpg"/>
        <h3>Chrishani Imalsha</h3>
        <p>Admin</p>
    </div>
    <div class="col-md-9 details">
        <form class="profile-form">
            <h4>Personal Information</h4><hr>
            <div class="row">
                <div class="col-md-3"><label>Name</label></div>
                <div class="col-md-9"><input type="text" placeholder="Chrishani Imalsha"/></div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>NIC</label></div>
                <div class="col-md-9"><input type="text" placeholder="958141440V"/></div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>e-mail</label></div>
                <div class="col-md-9"><input type="text" placeholder="chrishaniimalsha@gmail.com"/></div>
            </div>

            <h4>Bank Account Information</h4><hr>
            <div class="row">
                <div class="col-md-3"><label>Account No</label></div>
                <div class="col-md-9"><input type="text" placeholder="809145236"/></div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Bank</label></div>
                <div class="col-md-9"><input type="text" placeholder="BOC"/></div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Branch</label></div>
                <div class="col-md-9"><input type="text" placeholder="Kirimetiyana"/></div>
            </div>

            <div class="row">
                <div class="col-md-6"><button class="btnSave"><a href="">Save</a></button></div>
                <div class="col-md-6"><button class="btnCancel"><a href="AdminProfile">Cancel</a></button></div>
            </div>
        </form>

    </div>
    </div>
</div>
